numpy==1.26.4
matplotlib
scikit-learn
tensorboard==2.16.2
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
lightning
huggingface-hub
transformers
datasets
accelerate
evaluate
gradio
jupyter
jupyterlab==4.5.5
jupyterlab-language-pack-zh-cn==4.5.post1
notebook